$c-neutral-700: #404040;
$c-gray-50: #f9fafb;
$c-gray-100: #f3f4f6;
$c-gray-200: #e5e7eb;
$c-gray-300: #d1d5db;
$c-gray-400: #9ca3af;
$c-gray-500: #6b7280;
$c-blue-500: #3b82f6;
$c-blue-600: #2563eb;
$c-sky-100: #e0f2fe;

$color-text: $c-neutral-700;

$profile-picture-size: 48px;
