$c-neutral-700: #404040;
$c-gray-100: #f3f4f6;
$c-gray-200: #e5e7eb;
$c-gray-300: #d1d5db;
$c-gray-400: #9ca3af;
$c-blue-500: #3b82f6;
$c-sky-100: #e0f2fe;
$c-slate-400: #94a3b8;

$c-text: $c-neutral-700;
$c-background: #e9edf1;

$profile-picture-size: 48px;
